body {
    background-color: #02091a;
    font-family: Arial, Helvetica, sans-serif;
    height: 10%;
    width: 80%;
    margin-left: 15 ;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    background-color: #3782b3;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  caption {
    padding: 8px;
    caption-side: bottom;
    text-align: center;
    color: #555;
  }
  
  div {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  h1 {
    background-color: #9287b3;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 10px;
  }
  
  p {
    color: #6ab608;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
  }
  
  footer {
    background-color: #2e08a0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: #ffffff;
  }
  
  section {
    background-color: #5b21b7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    color: #292323;
  }
  
  span {
    color: #5759e3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
  }
  
  ul {
    background-color: #9287b3;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    width: auto;
    padding: 15px;
    list-style: none;
  }
  
  ul:hover {
    color: #dc9105;
  
  }
  
  li {
    background-color: #9287b3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    color: #333;
  }
  
  li:hover {
      color: #1e278d;
  }
  